* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

/* TOUTES LES PAGES */

header {
    background-image: url("../backend/images/vcam_5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 190px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10, 10, 10, 0.3)
}

nav {
    z-index: 2;
    display: grid;
    grid-template-areas:
        "logo logo"
        "accueil about"
        "panier panier";
    width: 90%;
    margin: auto;
    justify-items: center;
}

nav {

    grid-template-columns: 1fr 1fr;
    
    align-items:center;
    
    grid-template-rows: 2rem 2rem auto;
    
    grid-template-areas:
    
    
    "logo logo"
    
    
    "accueil about"
    
    
    "panier panier";
}
    
nav a:first-of-type {
    grid-area: logo;
}
nav a:nth-of-type(2) {
    grid-area: accueil;
}
nav a:nth-of-type(3) {
    grid-area: about;
}
nav div {
    grid-area: panier;
}
    
nav a:nth-of-type(2), nav a:nth-of-type(3) {
    padding: 5px;
    text-align: center;
    background-color: #823232;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}
    
.basket {
    grid-area: panier;
    background-color: #823232;
    color: #fff;
    padding: 3px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
}
    
button {
    background-color: #823232;
    color: white;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 2px;
    cursor: pointer;
}
    
.cart {
    display: block;
}
    
header {
    display: flex;
    align-items: center;
}
    
.products-container {
    align-items: center;
}

h1 {
    color: white;
    font-size: 1.6em;
    font-family: serif;
}

.basket i {
    font-size: 20px;
    padding-right: 5px;
    cursor: pointer;
    text-decoration: none;
}

span#basketQty {
    margin-left: 100px;
}

div#basketResume img {
    width: 50px;
}
  
div#basketResume article{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #945757;
}
  
div#basketResume {
    width: 230px;
    border: #823232 2px solid;
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../backend/images/vcam_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
}

footer p {
    font-size: 1.2em;
    color: antiquewhite;
    display: flex;
    align-items: center;
    cursor: pointer;
}

footer p:hover {
    color: white;
}

/*INDEX.HTML*/

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 50px;
}

.image {
    margin: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.add-basket {
    position: absolute;
    bottom: 70px;
    width: 100%;
    background-color: #823232;
    color: white;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;  
}

.image:hover .basket1,
.image:hover .basket2,
.image:hover .basket3,
.image:hover .basket4,
.image:hover .basket5 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;    
}

h2, h3 {
    text-align: center;
}

.info {
    display: block;
    width: 35%;
    margin: auto;
    padding: 5px;
    background-color: #823232;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.info:hover {
    background-color: #cc6e6e;
}

/* BASKET.HTML */

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-header, .products {
    width: 90%;
    margin: auto;
    border-bottom: 4px solid #823232;
    font-weight: 600;
}

#cartContent li, .product-header li {
    display:flex;
    width: 100%;
}

.name, .total, .price, .qty {
    display: block;
}

.name{
    width:30%;
}

.total, .price, .qty {
    width:25%;
}

ul{
    list-style-type: none;
} 

.btnMinus, .btnPlus {
    width: 20px;
    background-color: #823232;
    color: white;
    border-radius: 5px;
}

#totalAmount {
    font-weight: 800;
    border: 3px solid #823232;
    width: 90%;
    margin: auto;
    text-align: center;
}

                                                /* Formulaire */

form {
    width: 50%;
    margin: auto auto 70px;
    margin-top: 50px;
    padding: 5px;
    background-color: #823232;
    color:white;
}

form h1 {
    text-align: center;
}

form h2,
form h3 {
    text-align: left;
}

.pay-mode,
.credit-card,
.infos {
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 60px;
    background-color: #651717;
    color: white;
}

div.image img {
    max-width: 250px;
    height: 200px;
}

/*PRODUCT.HTML*/

.main {
    max-width: 80%;
    margin: 40px auto 100px;
}

img.photo {
    width: 100%;
}
.selected-product h2 {
    font-size: 1.2em;
    color: #3b3b3b;
    line-height: 31px;
    font-weight: normal;
}

.selected-product h3 {
    font-weight: normal;
    width: 140px;
    margin: 10px;
    color: #0096b1;
    border-bottom: 2px solid #0096b1;
}

.selected-product h3:hover {
    color: #00b190;
    border-bottom: 2px solid #00b190;
    cursor: pointer;
}

h4 {
    padding-top: 10px;
    color: #0096b1;
    font-weight: normal;
}

p#description, p#lentilles {
    font-size: 0.8em;
    font-family: cursive, verdana, sans-serif;
}

.product-price button {
    width: 180px;
    margin-left: 100px;
    padding: 12px;
    background-color: #b15050;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    top: 400px;
    left: 40px;
}

.product-price button:hover {
    background-color: #cc5a5a;
}

.product-price span {
    font-weight: 700;
    font-size: 1.5em;
    position: relative;
    top: 430px;
    left: 0
}

.product-price p,
.product-price ul {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
}

.product-price li {
    list-style-type: none;
    height: 25px;
    font-size: 13px;
    font-family: cursive, verdana, sans-serif;
}

.product-price h4 {
    padding-top: 10px;
}

/*congrats.html*/

#congratulation {
    width: 70%;
    margin: 70px auto;
    padding: 20px;
    border: 2px dashed darkred;
    background-color: mediumpurple;
    font-size: 2em;
    overflow-wrap: break-word;
}

#clientName, #order, #prixTotal {
    background-color: lightcoral;
}

/*RESPONSIVE DESIGN*/

@media screen and (min-width: 1024px) {

    nav {grid-template-columns: 35% 22% 22% 22%;grid-template-areas:
        "logo accueil about panier";grid-template-rows: 2rem;
    }
    div#basketResume {
        position: absolute;
        margin-left: -2rem;
        width: 225px;
        margin: auto;
        border: #823232 2px solid;
    }
    .basket{
        width: 230px;
        cursor: pointer;
    }
    nav a:nth-of-type(2), nav a:nth-of-type(3) {
        width: 50%;
    }

    .main {
        display: grid;
        grid-template-areas: "div1 div2";
    }
    .selected-product {
        grid-area: div1;
        width: 300px;
    }
    .product-price {
        grid-area: div2;
        width: 400px;
    }
    .product-price button {
        position: relative;
        top: 0;
        left: 0;
    }
    .product-price span {
        position: relative;
        top: 0;
        left: 0;
    }

    .product-header, .products {
        width: 500px;
    }

    #totalAmount {
        width: 500px;
        margin: auto;
    }

    form {
        width: 30%;
    }
}
